<main class="h-screen grid grid-cols-1 bg-nord-snow-light dark:bg-nord-night">
  <section class="bg-nord-snow-light dark:bg-nord-night">
    <div class="px-8 pt-16 grid grid-cols-1 max-w-screen-xl mx-auto">
      <div class="flex flex-col items-center text-nord-night-light font-medium dark:text-nord-snow-dark">
        <h1 class="text-3xl font-semibold text-nord-night-light dark:text-nord-snow-dark md:text-4xl lg:text-5xl">
          Graphic Credits
        </h1>
        <ul class="list-disc mt-12">
          <li>
            <%= link_to(
              "Hisbiscus icon",
              "https://www.flaticon.com/free-icon/hibiscus_616447",
              target: :_blank,
              class: "hover:text-nord-primary"
            ) %>
          </li>
          <li>
            <%= link_to(
              "Malaysia flag map", 
              "https://pixabay.com/vectors/borders-country-flag-geography-map-2099214/", 
              target: :_blank,
              class: "hover:text-nord-primary"
            ) %>
          </li>
          <li>
            <%= link_to(
              "Politician speaking", 
              "https://www.vecteezy.com/vector-art/150484-press-release-illustration", 
              target: :_blank, 
              class: "hover:text-nord-primary"
            ) %>
          </li>
          <li>
            <%= link_to(
              "Tunku Abdul Rahman Merdeka Scene", 
              "https://www.leaderonomics.com/articles/personal/merdeka", 
              target: :_blank, 
              class: "hover:text-nord-primary"
            ) %>
          </li>
          <li>
            <%= link_to("Malaysian standing together", 
              "https://www.freepik.com/free-vector/hand-drawn-hari-merdeka-illustration_14960903.htm#page=1&query=merdeka&position=26", 
              target: :_blank,
              class: "hover:text-nord-primary") 
            %>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
