<main class="bg-nord-snow-light dark:bg-nord-night-light">
  <section class="bg-nord-snow-light dark:bg-nord-night-light">
    <div class="p-8 grid grid-cols-1 md:grid-cols-2 max-w-screen-xl mx-auto">
      <div class="flex flex-col p-4 items-center">
        <div class="text-nord-night-light font-medium dark:text-nord-snow-dark">
          Project by Marcus Heng
        </div>
        <div class="flex mt-6">
          <a class="mx-1" href="https://github.com/marcushwz/anak-malaysia" target="_blank">
            <svg viewBox="0 0 24 24" class="w-6 fill-current text-nord-night-dark dark:text-nord-snow-dark hover:text-nord-primary dark:hover:text-nord-primary"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"></path></svg>
          </a>
          <a class="mx-1" href="https://twitter.com/weizheheng" target="_blank">
            <svg viewBox="0 0 24 24" class="w-6 fill-current text-nord-night-dark dark:text-nord-snow-dark hover:text-nord-primary dark:hover:text-nord-primary"><path d="M23.954 4.569a10 10 0 0 1-2.825.775 4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.691 8.094 4.066 6.13 1.64 3.161a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.061a4.923 4.923 0 0 0 3.946 4.827 4.996 4.996 0 0 1-2.212.085 4.937 4.937 0 0 0 4.604 3.417 9.868 9.868 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63a9.936 9.936 0 0 0 2.46-2.548l-.047-.02z"></path></svg>
          </a>
          <a class="mx-1" href="https://www.reddit.com/user/marcusheng" target="_blank">
            <svg viewBox="0 0 24 24" class="w-6 fill-current text-nord-night-dark dark:text-nord-snow-dark hover:text-nord-primary dark:hover:text-nord-primary"><path d="M2.204 14.049c-.06.276-.091.56-.091.847 0 3.443 4.402 6.249 9.814 6.249 5.41 0 9.812-2.804 9.812-6.249 0-.274-.029-.546-.082-.809l-.015-.032a.456.456 0 0 1-.029-.165c-.302-1.175-1.117-2.241-2.296-3.103a.422.422 0 0 1-.126-.07c-.026-.02-.045-.042-.067-.064-1.792-1.234-4.356-2.008-7.196-2.008-2.815 0-5.354.759-7.146 1.971a.397.397 0 0 1-.179.124c-1.206.862-2.042 1.937-2.354 3.123a.454.454 0 0 1-.037.171l-.008.015zm9.773 5.441c-1.794 0-3.057-.389-3.863-1.197a.45.45 0 0 1 0-.632.47.47 0 0 1 .635 0c.63.629 1.685.943 3.228.943 1.542 0 2.591-.3 3.219-.929a.463.463 0 0 1 .629 0 .482.482 0 0 1 0 .645c-.809.808-2.065 1.198-3.862 1.198l.014-.028zm-3.606-7.573c-.914 0-1.677.765-1.677 1.677 0 .91.763 1.65 1.677 1.65s1.651-.74 1.651-1.65c0-.912-.739-1.677-1.651-1.677zm7.233 0c-.914 0-1.678.765-1.678 1.677 0 .91.764 1.65 1.678 1.65s1.651-.74 1.651-1.65c0-.912-.739-1.677-1.651-1.677zm4.548-1.595c1.037.833 1.8 1.821 2.189 2.904a1.818 1.818 0 1 0-2.189-2.902v-.002zM2.711 9.963a1.82 1.82 0 0 0-1.173 3.207c.401-1.079 1.172-2.053 2.213-2.876a1.82 1.82 0 0 0-1.039-.329v-.002zm9.217 12.079c-5.906 0-10.709-3.205-10.709-7.142 0-.275.023-.544.068-.809A2.723 2.723 0 0 1 0 11.777a2.725 2.725 0 0 1 2.725-2.713 2.7 2.7 0 0 1 1.797.682c1.856-1.191 4.357-1.941 7.112-1.992l1.812-5.524.404.095s.016 0 .016.002l4.223.993a2.237 2.237 0 0 1 4.296.874c0 1.232-1.003 2.234-2.231 2.234s-2.23-1.004-2.23-2.23l-3.851-.912-1.467 4.477c2.65.105 5.047.854 6.844 2.021a2.663 2.663 0 0 1 1.833-.719 2.716 2.716 0 0 1 2.718 2.711c0 .987-.54 1.886-1.378 2.365.029.255.059.494.059.749-.015 3.938-4.806 7.143-10.72 7.143l-.034.009zm8.179-19.187a1.339 1.339 0 1 0 0 2.678c.732 0 1.33-.6 1.33-1.334 0-.733-.598-1.332-1.347-1.332l.017-.012z"></path></svg>
          </a>
        </div>
        <div class="flex flex-row mt-4 text-nord-night-light text-sm dark:text-nord-snow-dark">
          Made with 
          <svg viewBox="0 0 24 24" class="w-4 mx-1 fill-current text-nord-red"><path d="M12 21a1 1 0 0 1-.71-.29l-7.77-7.78a5.26 5.26 0 0 1 0-7.4 5.24 5.24 0 0 1 7.4 0L12 6.61l1.08-1.08a5.24 5.24 0 0 1 7.4 0 5.26 5.26 0 0 1 0 7.4l-7.77 7.78A1 1 0 0 1 12 21z"></path></svg> 
          in Malaysia
        </div>
      </div>
      <div class="flex flex-col p-4 items-start text-nord-night-light font-medium dark:text-nord-snow-dark">
        Graphic credits:
        <ul class="list-disc ml-4">
          <li>
            <%= link_to "Hisbiscus icon", "https://www.flaticon.com/free-icon/hibiscus_616447", target: :_blank, class: "underline hover:text-nord-primary" %> 
            made by
            <%= link_to "Freepik", "https://www.freepik.com", target: :_blank, class: "underline hover:text-nord-primary" %> 
          </li>
          <li>
            <%= link_to "Malaysia flag map", "https://pixabay.com/vectors/borders-country-flag-geography-map-2099214/", target: :_blank, class: "underline hover:text-nord-primary" %> 
            made by
            <%= link_to "Gordon Johnson", "https://pixabay.com/users/gdj-1086657/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2099214", target: :_blank, class: "underline hover:text-nord-primary" %> 
            from
            <%= link_to "Pixabay", "https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2099214", target: :_blank, class: "underline hover:text-nord-primary" %> 
          </li>
          <li>
            <%= link_to "Kuala Lumpuer skyline vector", "https://www.vecteezy.com/vector-art/344591-kuala-lumpur-skyline-vector", target: :_blank, class: "underline hover:text-nord-primary" %> 
            made by
            <%= link_to "xiayamoon", "https://www.vecteezy.com/members/xiayamoon", target: :_blank, class: "underline hover:text-nord-primary" %> 
            from
            <%= link_to "Vecteezy", "https://www.vecteezy.com/free-vector/malaysia", target: :_blank, class: "underline hover:text-nord-primary" %> 
          </li>
          <li>
            <%= link_to "Software engineer vector", "https://www.vecteezy.com/vector-art/180409-software-engineers-vector", target: :_blank, class: "underline hover:text-nord-primary" %> 
            made by
            <%= link_to "joezhuang", "https://www.vecteezy.com/members/joezhuang", target: :_blank, class: "underline hover:text-nord-primary" %> 
            from
            <%= link_to "Vecteezy", "https://www.vecteezy.com/free-vector/web", target: :_blank, class: "underline hover:text-nord-primary" %> 
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
